<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nicco.com.br.dependencyinjection">

    <application
        android:name="nicco.com.br.dependencyinjection.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="nicco.com.br.dependencyinjection.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="nicco.com.br.moduleone.ModuleOneActivity" />
        <activity android:name="nicco.com.br.moduletwo.ModuleTwoActivity" />
        <activity android:name="nicco.com.br.moduleone.screentwo.ModuleOneScreenTwoActivity" />
    </application>

</manifest>